# For OpenSfM
numpy==1.20.1
scipy==1.6.0
networkx==2.5
pyyaml==5.4.1
exifread==2.3.2

# For sample scripts
click==7.1.2
tqdm==4.56.0
opencv-python==4.5.1.48
matplotlib

# OpenSfM dependencies
cloudpickle==0.4.0
fpdf2==2.1.0
joblib==0.14.1
Pillow==7.1.0
pyproj>=1.9.5.1
pytest==3.0.7
python-dateutil==2.6.0
six
xmltodict==0.10.2